<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://sgos.nju.edu.cn/">地理与海洋科学学院</a></li>
				<li><a href="https://www.nju.edu.cn/">南京大学</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/about">关于</a></li>
			</ul>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
